blinker==1.4
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Excel==0.0.7
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
GeoAlchemy2==0.9.3
greenlet==1.1.0
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
lml==0.1.0
MarkupSafe==2.0.1
openpyxl==3.0.7
psycopg2-binary==2.9.1
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
requests==2.26.0
SQLAlchemy==1.4.22
texttable==1.6.4
urllib3==1.26.6
Werkzeug==2.0.1
