body, #landing-page {
	font-family: 'Noto Sans TC', sans-serif;
	height: 100vh;
}

a, p, h1, h2, h3, h4, h5, h6, input, label {
	font-family: 'Noto Sans TC', sans-serif;
	text-decoration: none;
	text-align: justify;
	text-justify:inter-ideograph;
	line-height: 2em;
	letter-spacing: 0.1px;
	color: #D8D8D8;
	word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
	white-space:nowrap;
}

p {
	color: #CCC;
}

input:focus, button:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
	color: rgb(15,201,220);
}

body {
	background-image: url("../img/bg.jpg");
	background-attachment: local;
	background-position: center;
	background-size: cover;
}

table {
	color: #D8D8D8;
}
table th {
	background-color: rgba(0,0,0,0.1);
}
table td, table th {
	border: 1px solid #D8D8D8;
	padding: 0.5em;
}

.nav-tabs {
	border-bottom: 0;
}
.tab-content.nav {
	-ms-flex-wrap: inherit;
	flex-wrap: inherit;
}
.mobile-tabs {
	display: none;
}

.main-img {
	margin: 15px;
	height: 10vh;
}

.portal-page {
	min-height: 100vh;
	background-color: #091d28;
	padding-top: 5vh;
}

.portal-news {
	flex: 1;
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	background-color: rgba(50,50,50,0.75);
}
.portal-news > div {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.portal-news div p {
	line-height: 0;
	margin-bottom: 0;
}

.ex-link-box {
	height: 80%;
	text-align: left;
}

.ex-link-box .ex-link {
	padding: 2em 0em;
}

.ex-link-box .ex-link a {
	color: #D8D8D8;
	background-color: rgba(50,50,50,0.75);
	font-size: 1em;
	font-weight: 200;
	padding: 1em 3em;
	transition: 0.2s;
	border-radius: 4px;
	border: 1px solid #D8D8D8;
}
.ex-link-box .ex-link a:hover {
	color: #0FC9DC;
	text-decoration: none;
}
.ex-link-box #ext-mattermost:hover::after {
	content: "定期更新河川標案消息的討論區";
	color: #AAA;
	white-space:nowrap;
	position: absolute;
	left: 14em;
	font-family: 'Noto Sans TC', sans-serif;
}
.ex-link-box #ext-depositar:hover::after {
	content: "上傳河川相關資料的線上資料庫";
	color: #AAA;
	white-space:nowrap;
	position: absolute;
	left: 14em;
	font-family: 'Noto Sans TC', sans-serif;
}
.ex-link-box #ext-groups:hover::after {
	content: "新增關注河川溪流的組織單位名錄";
	color: #AAA;
	white-space:nowrap;
	position: absolute;
	left: 14em;
	font-family: 'Noto Sans TC', sans-serif;
}

.go-to-arrow {
	display: inline;
	height: 1.5em;
	position: relative;
	left: -5em;
	bottom: 0.1em;
	animation: go-movement 2s ease-in-out infinite;
}
.go-to-map {
	z-index: 1000;
	transition: 0.2s;
	position: fixed;
	right: 1em;
	bottom: 30px;
	font-size: 1.5em;
	color: #D8D8D8;
	text-align: center;
}
@keyframes go-movement {
  0% {
	left: -1em;
  }
  50% {
	left: 0em;
  }
  100% {
	left: -1em;
  }
}

.portal-page .row h5{
	color: #AAA;
	margin-top: 2em;
}

#sub-group {
}
.portal-subs .portal-block{
	min-height: 11em;
	background-color: #28363f;
	border-radius: 4px;
}
#subs-search {
	width: calc(100% - 3em);
	background-color: rgba(100,100,100,0.3);
	border: 1px solid #AAA;
	border-radius: 5px;
	padding-left: 1.2em;
	margin-left: 1em;
}
#add-subs:before {
	content: url('../img/search.svg');
	height: 1em;
	width: 1em;
	display: inline;
	position: absolute;
	margin-top: 0.6em;
	margin-left: 1.2em;
	filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(98%) contrast(84%);
}
#search-submit {
	display: inline;
	position: relative;
	top: 0.2em;
	background-color: rgba(100,100,100,0);
	padding: 0;
	border: 0;
	font-size: 2em;
	color: #AAA;
}
#search-submit:hover {
	color: rgb(15,201,220);
}
.sub-sets {
	height: 2em;
	min-width: 8em;
	margin: 1em;
	padding-left: 1em;
	background-color: rgba(100,100,100,0.3);
	border: 1px solid #AAA;
	border-radius: 1em;
	display: inline-block;
	text-align: center;
}

.sub-sets button {
	background-color: rgba(0,0,0,0);
	color: #000;
	font-size: 1em;
	padding: 0 1em;
	border-width: 0;
	float: right;
	filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(98%) contrast(84%);
}
.sub-sets button:hover {
	filter: invert(73%) sepia(23%) saturate(6237%) hue-rotate(138deg) brightness(98%) contrast(88%);
}

.portal-about .portal-block{
	margin-top: 1em;
	background-color: #142630;
	border-radius: 4px;
	min-height: 8em;
}
.portal-about ul{
	border: none;
}
.portal-about li{
	margin: 3em 5vw 0 0;
}
.portal-about li a{
	color: #AAA;
	text-decoration: none;
}
.portal-about a.active{
	color: rgb(15,201,220);
}
.portal-about .tab-content, #collapse-links, #collapse-reply {
	padding: 2em 2em 2em 0;
}
#collapse-links p, #about-platform-links p{
	margin: 0.5em;
	padding: 0 0.5em;
	display: inline-block;
	border: 1px solid #666;
	border-radius: 4px;
	transition: 0.2s;
}
#collapse-links p:hover, #about-platform-links p:hover{
	background-color: rgba(100,100,100,0.3);
}

.portal-links .portal-block{
	margin-top: 1em;
	min-height: 8em;
	background-color: #28363f;
}
.portal-block.col-md-2 {
	border-radius: 4px 0 0 4px;
}
.portal-block.col-md-8 {
	border-radius: 0 4px 4px 0;
}

.collapse-toggle:before {
	content: " ";
	background-image: url('../img/not_collapsed.svg');
	background-position: center;
	background-size: cover;
    # content: url('../img/not_collapsed.svg');
	height: 2em;
	width: 2em;
	position: relative;
	vertical-align: middle;
    display: inline-flex;
	left: calc(100% - 2em);
	filter: invert(59%) sepia(73%) saturate(1538%) hue-rotate(140deg) brightness(101%) contrast(88%);
}
.collapse-toggle.collapsed:hover:before {
	content: " ";
	background-image: url('../img/collapsed.svg');
	filter: invert(59%) sepia(73%) saturate(1538%) hue-rotate(140deg) brightness(101%) contrast(88%);

}
.collapse-toggle.collapsed:before {
	content: " ";
	background-image: url('../img/collapsed.svg');
	filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(98%) contrast(84%);
}
.collapse-toggle {
	margin-top: 2.5em;
	color: #AAA;
}

.portal-reply .portal-block{
	margin-top: 1em;
	min-height: 8em;
	background-color: #142630;
	border-radius: 4px;
}

.sup-img {
	height: 80px;
	display: inline-block;
	margin: 20px;
}

.btn-style1 {
	color: white;
	background-color: rgba(104,111,121,0.6);
	font-size: 1em;
	font-weight: 200;
	padding: 0 2em;
	border: none;
	border-radius: 4px;
	transition: 0.2s;
	margin: 5% 0;
}
.btn-style1:hover {
	color: rgb(15,201,220);
	background-color: rgba(104,111,121,0.7);
}

.scroll-style {
	scrollbar-color: #394551 #242730;
	scrollbar-width: thin;
}
.scroll-style::-webkit-scrollbar {
	width: 8px;
	background-color: #242730;
}
.scroll-style::-webkit-scrollbar-thumb {
	background-color: #394551;
	border-radius: 4px;
}

.ext-box {
	padding: 10% 10% 0% 10%;
	color: white;
}

.ext-box-title {
	border: 1px solid white;
	background-color: rgba(100,100,100,0.3);
	height: 4em;
	border-radius: 4px;
	position: relative;
}
.ext-box-title a {
	position: absolute;
	bottom: 1em;
	left: 1em;
	line-height: 1.5em;
	border-left: 3px solid rgb(15,201,220);
	padding-left: 1em;
}
.ext-box p {
	color: #AAA;
	margin-bottom: 0.5em;
	margin-top: 1em;
	line-height: 1.5em;
}

.ext-img {
	width: 100%;
}

.modal-content {
	background-color: rgba(100,100,100,1);
	color: #D8D8D8;
}
.modal-footer {
	border: 0;
}

.arrow {
	position: absolute;
	left: 50%;
	top: 89%;
	transform-origin: 50% 50%;
	transform: translate3d(-50%, -50%, 0);
}

.arrow-1 {
	animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-2 {
	animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
	background: rgb(15,201,220);;
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
}

.arrow:before {
	transform: rotate(45deg) translateX(-23%);
	transform-origin: top left;
}

.arrow:after {
	transform: rotate(-45deg) translateX(23%);
	transform-origin: top right;
}

@keyframes arrow-movement {
  0% {
	opacity: 0;
	top: 87%;
  }
  60% {
	opacity: 1;
  }
  100% {
	opacity: 0;
  }
}


@media (max-width: 768px) {
	.go-to-map {
		position: absolute;
	}
	.ex-link-box {
		text-align: center;
	}
	.ex-link-box div a {
		font-size: 1.2em;
	}
	.portal-block.col-md-8 {
		margin-top: 0;
		min-height: 5em;
	}
	.portal-block.col-md-2 {
		min-height: 2em;
	}
	.collapse-toggle:before {
		display: block;
		bottom: 2.5em;
	}
	.collapse-toggle {
		margin: 0 0.5em;
	}
	.portal-block h5.text-center {
		margin-top: 0.5em;
	}
	.portal-about li, .main-img  {
		display: none;
	}
	.mobile-tabs {
		margin: 0.5em 0;
		display: block;
		color: #AAA;
	}
	.portal-about .tab-content, #collapse-links, #collapse-reply {
		padding: 0em;
		margin: 0.5em
	}
	#rigister-p {
		text-align: right;
	}

	.portal-news {
		position: static;
		margin: 0;
	}
	.arrow {
		display: none;
	}

	.mobile-tabs {
		font-size: 1.5em;
	}
	.tab-content h3 {
		display: none;
	}

	.ex-link-box #ext-mattermost:hover::after {
		content: "";
	}
	.ex-link-box #ext-depositar:hover::after {
		content: "";
	}
	.ex-link-box #ext-groups:hover::after {
		content: "";
	}
}
