body, #map {
	height: 100vh;
	margin: 0;
}

a, p, h1, h2, h3, h4, h5, input, label {
	font-family: 'Noto Sans TC', sans-serif;
	text-decoration: none;
	text-align: justify;
	text-justify:inter-ideograph;
	line-height: 2em;
	letter-spacing: 0.1px;
}

.leaflet-control-layers {
	background-color: rgba(0,0,0,0);	
	color: white;
}

.leaflet-touch .leaflet-control-layers{
	border-width: 0;
}

.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url("../img/layers.svg");
	background-size: 50px 50px;
	background-position: center;
}

.leaflet-touch .leaflet-control-layers-toggle {
	width: 50px;
	height: 50px;
}

.leaflet-control-layers .leaflet-control-layers-list{
	background-color: rgba(0,0,0,0.2);
	padding: 1em;
}

.leaflet-control-printer {
	background-color: rgba(0,0,0,0);
	padding: 1em;
	border-width: 0;
	background-image: url("../img/print.svg");
	background-size: 50px 50px;
	background-position: center;
	width: 50px;
	height: 50px;
}

.leaflet-control-share {
	background-color: rgba(0,0,0,0);
	padding: 1em;
	border-width: 0;
	background-image: url("../img/share.svg");
	background-size: 50px 50px;
	background-position: center;
	width: 50px;
	height: 50px;
}
#detail-box {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	height: 500px;
	width: 0px;
	background-color: #242730;
}
#toggle-detail {
	z-index: 1000;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	position: absolute;
	right: -45px;
}

#toggle-back #toggle-back-dot{
	z-index: 1000;
	width: 3em;
	height: 2em;
	color: rgba(15,201,220,0.7);
	background-color: #091d28;
	border: 1px solid #AAA;
	border-radius: 3px;
	position: absolute;
	bottom: 20px;
	left: 10px;
	transition: 0.2s;
}
#toggle-back #toggle-back-dot:hover {
	color: rgba(0,0,0,0);
	border-width: 0;
}
#toggle-back #toggle-back-dot:hover #toggle-back-index{
	display: block;
}
#toggle-back-index {
	background-color: #091d28;
	border: 1px solid #AAA;
	border-radius: 3px;
	display: none;
	position: absolute;
	bottom: 0em;
	width: 12em;
}
#toggle-back-index a {
	color: #AAA;
	transition: 0.2s;
	padding: 0.5em;
}
#toggle-back-index a:hover {
	color: rgba(15,201,220,1);
	text-decoration: none;
}