<!doctype html>
<html lang="zh-hant">
	<head>
		<meta charset="UTF-8" />
		<title>{{GLOBAL_TITLE}}</title>
		<meta name="description" content="本平台為2019年g0v零時政府公民科技獎助金贊助專案，是一個透過公民科技、公民參與所共同建構的台灣河溪標案工程地圖平台，每個人都可以透過上傳和編輯，讓平台上的資訊更加豐富。"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, min-scale=1, max-scale=1, shrink-to-fit=no, user-scalable=no">
		<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<link href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
		<link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/leaflet-gps.css')}}">
	</head>
	<body>
		<div class="container-fluid m-0 p-0" id="map">
		</div>
		<form id="search-river" action="javascript:void(0);">
			<div id="search-list" class="scroll-style">
			</div>
			<div>
				<a id="on-load" style="display: none;">搜尋河川中...　</a><input type="text" placeholder="搜尋河川" name="search-river"/><button type='submit'></button>
			</div>
		</form>
		<div id="detail-box">
			<img id="toggle-detail" src="{{url_for('static', filename='img/right_arrow.svg')}}"/>
			<div class="text-center m-0 p-0 h-100 w-100" id="detail-index">
				<input id="adv-search" type="text" placeholder="搜尋關鍵字" name="adv-search"/>
				<div class="nav nav-tabs" style="">
					<a data-toggle="tab" href="#detail-pcc" class="active">標案檢索</a>
					<a data-toggle="tab" href="#detail-news_" disabled>最新消息</a>
					<a data-toggle="tab" href="#detail-group_" disabled>河川社群</a>
				</div>
				<div class="tab-content text-left">
					<div id="detail-pcc" class="tab-pane fade active show">
						<div class="nav nav-tabs">
							<a data-toggle="tab" href="#pcc-years" class="active">年份</a>
							<a data-toggle="tab" href="#pcc-img" disabled>鄉鎮市區</a>
						</div>
						<div class="tab-content m-0">
							<div id="pcc-years" class="tab-pane fade active show d-flex flex-column">
								<div class="pcc-filter" id="year-filter-box1">
									<label class="radio-style1" for="year-filter-1">
										<p>民國<input type="number" min="50" max="150" placeholder="--" id="year-filter-1-1"/>年至<input type="number" min="50" max="150" value="108" placeholder="--" id="year-filter-1-2"/>年</p>
									<input type="radio" name="year-filter" id="year-filter-1" checked/><span class="radio-style1-box"></span></label>
								</div>
								<div class="pcc-filter" id="year-filter-box2">
									<label class="radio-style1" for="year-filter-2">
										<p>民國<input type="number" min="50" max="150" value="106" placeholder="--" style="color: rgb(153,35,0)" id="year-filter-2-1"/>年及<input type="number" min="50" max="150" value="107" placeholder="--" style="color: rgb(255,81,46)" id="year-filter-2-2"/>年及<input type="number" min="50" max="150" value="108" placeholder="--" style="color: rgb(255,181,146)" id="year-filter-2-3"/>年</p>
									<input type="radio" name="year-filter" id="year-filter-2"/><span class="radio-style1-box"></span></label>
								</div>
								<div style="text-align:center; margin: 5% 2% 2% 2%;">
									<a style="float: left; font-size: 1.2em; border-bottom: 3px solid white;">標案類型</a>
									<!-- a class="label-toggle active">已決標</a>
									<label class="switch" for="toggle-isdone">
										<input type="checkbox" name="toggle-isdone" id="toggle-isdone" disabled="disabled">
										<span class="slider round"></span>
									</label>
									<a class="label-toggle active">未決標</a -->
								</div>
								<div id="pcc-list-box" class="p-0 m-0" style="position: relative;">
									<div id="pcc-list" class="scroll-style scroll-list">
									</div>
									<div id="pcc-list-detail" class="scroll-list">
										<div class="go-back p-0 m-0">
											<a href="javascript:void(0)" class="back-arrow"><img src="{{url_for('static', filename='img/left_arrow.svg')}}"></a>
											<span></span>
										</div>
										<div class="scroll-style p-0 m-0">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="detail-news" class="tab-pane fade">
						<div id="news-pcc">
							<div class="nav nav-tabs text-center custom-nav" style="border-bottom: 1px solid #AAA;">
								<a data-toggle="tab" href="#news-newest" class="active"><span></span>最新標案公告</a>
								<a data-toggle="tab" href="#news-last"><span></span>最後決標公告</a>
							</div>
							<div class="tab-content">
								<div id="news-newest" class="tab-pane fade active show scroll-style scroll-list">
									<div class="row"><div class="col-4"><a>機關代碼</a></div><div class="col"><a>3.13.20.20</a></div></div>
									<div class="row"><div class="col-4"><a>機關名稱</a></div><div class="col"><a>經濟部水利署第十河川局</a></div></div>
									<div class="row"><div class="col-4"><a>機關地址</a></div><div class="col"><a>220新北市板橋區四川路2段橋頭1號</a></div></div>
									<div class="row"><div class="col-4"><a>聯絡人</a></div><div class="col"><a>林思達</a></div></div>
									<div class="row"><div class="col-4"><a>連絡電話</a></div><div class="col"><a>(02)89669870 分機 1259</a></div></div>
									<div class="row"><div class="col-4"><a>標案案號</a></div><div class="col"><a>W10P108014</a></div></div>
									<div class="row"><div class="col-4"><a>標案名稱</a></div><div class="col"><a>108年度淡水河流域及河口海域基樁埋設大斷面水文測站測量工作</a></div></div>
									<div class="row"><div class="col-4"><a>預算金額</a></div><div class="col"><a>1,305,300元</a></div></div>
									<div class="row"><div class="col-4"><a>履約地點</a></div><div class="col"><a>新北市－全區</a></div></div>
								</div>
							</div>
						</div>
						<div id="more-news" class=" scroll-style scroll-list">
						</div>
					</div>
					<div id="detail-group" class="tab-pane fade">
						<h3>河川社群</h3>
						<p>Some content in menu 2.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="toggle-back" class="text-center">
			<div id="toggle-back-dot"><a style="font-family: Arial;">● ●</a>
				<div id="toggle-back-index"><a href="{{url_for('portal')}}">個人主頁</a><a href="#">動態說明</a></div>
			</div>
		</div>

		<!-- ----------------------------------------- -->

		<!--script src="{{url_for('static', filename='pcc/rivers20191022.geojson')}}"></script-->
		<script src="{{url_for('static', filename='pcc/allpcc.js')}}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.1/velocity.min.js"></script>
		<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
		<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
		<script src="{{url_for('static', filename='js/leaflet-gps.min.js')}}"></script>
		<script>
			//detail box
			$(window).ready(function(){
				$("body").height(window.innerHeight);
			});

			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			var toggle=false;
			$('#toggle-detail').click(function(){
				if(!toggle){
					$("#detail-box").velocity({width: "100%"}, {duration:500, loop:false, easing:"spring"});
					$(this).velocity({rotateZ:'180deg'}, {duration:300, loop:false, easing:"easeOutSine"});
					toggle = true;
					$("#detail-box").addClass("show");
					if($('body').width()>768){
						if($("#year-filter-2:checked").val()=="on"){
							if($("#year-filter-2-1").val().length < 1)
								$("#year-filter-2-1").trigger("focus");
							else if($("#year-filter-2-2").val().length < 1)
								$("#year-filter-2-2").trigger("focus");
							else if($("#year-filter-2-3").val().length < 1)
								$("#year-filter-2-3").trigger("focus");
						}
						else {
							if($("#year-filter-1-2").val().length < 1)
								$("#year-filter-1-2").trigger("focus");
							else if($("#year-filter-1-1").val().length < 1)
								$("#year-filter-1-1").trigger("focus");
						}
					}
				}
				else{
					$("#detail-box").velocity({width: "0px"}, {duration:300, loop:false, easing:"easeOutSine"});
					$(this).velocity({rotateZ:'0deg'}, {duration:300, loop:false, easing:"easeOutSine"});
					toggle = false;
					$("#detail-box").removeClass("show");
				}
			});
			$('#pcc-list-detail .back-arrow').click(function(){
				$("#pcc-list-detail").velocity({left: "-420px"}, {duration:300, loop:false, easing:"easeOutSine"});
				$(".leaflet-marker-pane span.hovered-marker").removeClass('hovered-marker');
			});
		</script>
		<script src="{{url_for('static', filename='js/map_leaflet.js')}}"></script>
	</body>
 </html>
