<!doctype html>
<html lang="zh-hant">
	<head>
		<meta charset="UTF-8" />
		<title>{{GLOBAL_TITLE}}</title>
		<meta name="description" content="本平台為2019年g0v零時政府公民科技獎助金贊助專案，是一個透過公民科技、公民參與所共同建構的台灣河溪標案工程地圖平台，每個人都可以透過上傳和編輯，讓平台上的資訊更加豐富。"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<link href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{{url_for('static', filename='css/portal.css')}}">
	</head>
	<body class="scroll-style">
		{%if isadmin == true%}
			<p style="background-color: black; position: fixed;z-index: 99999999; width: 100%; padding: 0 1em;"><a href="/admin" style="color: white; text-align: center;">進入管理</a></p>
		{%endif%}
		<div class="container-fluid" id="landing-page">
			<div class="ex-link-box col-md-5 d-flex flex-column">
				<a href="{{url_for('index')}}"><img class="main-img" src="{{url_for('static', filename='img/logo_w.png')}}"/></a>
				<div class="ex-link" id="ext-mattermost"><a href="{{url_for('link')}}#ext-mattermost"><span style="border-left: 3px solid rgb(15,201,220); margin-right: 1em;"/>　討論群組</a></div>
				<div class="ex-link" id="ext-depositar"><a href="{{url_for('link')}}#ext-depositar"><span style="border-left: 3px solid rgb(15,201,220); margin-right: 1em;"/>　資料寄存</a></div>
				<div class="ex-link" id="ext-groups"><a href="{{url_for('link')}}#ext-groups"><span style="border-left: 3px solid rgb(15,201,220); margin-right: 1em;"/>　河川社群</a></div>
				<div class="portal-news scroll-style px-4 py-2">
					<h5>最新消息</h5>
					<div>
						{%for row in news%}
							<p><a href="{{row['data']['url']}}" target="_blank" title="{{row['data']['text']}}">{{row['date']}}　{{row['data']['text']}}</a></p>
						{%endfor%}
					</div>
				</div>
			</div>
			<div class="arrow arrow-1"></div>
			<div class="arrow arrow-2"></div>
			<a class="go-to-map" href="{{url_for('map')}}">前往河川地圖　─────<img class="go-to-arrow" src="{{url_for('static', filename='img/right_arrow.svg')}}"/></a>
		</div>
		<div class="portal-page container-fluid" id="portal-page">
			<div class="row justify-content-center">
				<div class="col col-md-10">
					{%if username is defined%}
					<p style="color: #AAA; margin-bottom: 5vh 0; text-align: left;">Hello, {{ username }}　歡迎回來！<a href="{{url_for('logout')}}">登出</a></p>
					{%else%}
					<p><a href="{{url_for('index')}}#login-page" style="color: rgb(15,201,220); font-size: 1.2em">登入</a></p>
					<p style="color: #AAA; font-size: 1em;">成為會員後，將不定時收到標案通知電子報，讓您隨時掌握所訂閱的河川最新工程消息。</p>
					<p id="rigister-p" style="color: #AAA; margin-bottom: 5vh; font-size: 0.8em;">還不是會員嗎？<a href="{{url_for('reg')}}" style="color: rgb(15,201,220);">加入會員</a></p>
					{%endif%}
				</div>
			</div>
			{%if sub_list is defined%}
			<div class="portal-subs row justify-content-center">
				<div class="portal-block col-md-2 text-center">
					<h5 class="text-center">關注的河川</h5>
					<p class="text-center" id="add-subs">
						<input id="subs-search" type="text" list="river-list" placeholder="新增關鍵字" name="search"/>
						<button id="search-submit">+</button>
					</p>
					<datalist id="river-list">
					{% for river in rivers_data %}
						<option value="{{river['name']}}({{river['city']}})">
					{% endfor %}
					</datalist>
				</div>
				<div class="portal-block col-md-8" id="sub-group">
					{% for riverid in sub_list %}
					<p class="sub-sets">{{riverid}}<button name="{{riverid}}">✖</button></p>
					{% endfor %}
				</div>
			</div>
			{%endif%}
			<div class="portal-about row justify-content-center">
				<div class="portal-block col-md-2">
					<h5 class="text-center">關於我們</h5>
				</div>
				<div class="portal-block col-md-8">
					<ul class="nav nav-tabs">
						<li><a data-toggle="tab" href="#about-platform" class="active">平台介紹</a></li>
						<li><a data-toggle="tab" href="#about-team">建置團隊</a></li>
						<li><a data-toggle="tab" href="#about-meaning">建設意義</a></li>
						<li><a data-toggle="tab" href="#about-data">可獲得什麼資料？</a></li>
					</ul>
					<div class="tab-content nav nav-tabs flex-column">
						<a data-toggle="tab" href="#about-platform" class="mobile-tabs">平台介紹</a>
						<div id="about-platform" class="tab-pane fade active show">
							<h3>平台介紹</h3>
							<p>大河小溪全民齊督工地圖平台，於 2019 年獲得 g0v 零時政府的公民科技創新獎助金，試圖透過公民科技降低公私部門之間的資訊落差，並將溪流整治工程相關部門的公開資訊視覺化。這個開源平台讓竹圍工作室長久以來對於環境的關注，有機會進一步對社會機制面造成影響，架構屬於台灣的河川情報系統，並拋出一個公民參與的另類想像。
							</p>
							<p>我們期望透過這個平台，建構以下可能：(1) 組織與社群的資訊網絡、(2) 河川系統與野溪情報網、(3) 公私部門資訊合作管道。
							</p>
							<p>在平台上，使用者可以看到單一水系上，有哪些河川夥伴也正在關心這條河流。也能透過討論區，加入各種議題的討論、分享最新消息，或交換不同流域之間的經驗與故事。甚至，可以運用圖片上傳功能、研究資料寄存所、維基數據等管道，補充更多河川相關資料，參與台灣河川資料庫的共筆編輯。
							</p>
							<p>而政府所公開出來的工程點位資料，也會在地圖上被標記出來，方便以視覺化的方式理解歷年工程與水系之間的相對關係。當使用者對自己所關心的河川溪流點擊訂閱，一旦這條溪流和相關水系有新的工程發包，就會收到信件主動通知，提醒使用者介入追蹤。
							</p>
							<p>我們的資料來源分別來自各政府部門之公開資訊、維基數據（Wikidata）、維基共享資源（Wikimedia Commons）、研究資料寄存所（d_depositar）、OpenStreetMap 等。
							</p>
							<p>
							※本專案所產出的開源軟體套件或開放授權方式如下─<br>
							◆資料和程式碼以 GNU GPLv3 條款授權釋出<br>
							◆文件及圖像以 CC BY-SA 4.0 International 條款授權釋出<br>
							</p>
							<p>
								<a href="https://grants.g0v.tw/" target="_blank"><img src="https://grants.g0v.tw/images/power/poweredby-square-i.svg" class="sup-img"></a>
								<a href="http://bambooculture.com" target="_blank"><img src="{{url_for('static', filename='img/bcs_logo_w.png')}}" class="sup-img"></a>
							</p>
							<div id="about-platform-links">
								<p><a href="https://github.com/SeanGau/river-watcher" target="_blank">專案程式(Github)</a></p>
								<p><a href="https://g0v.hackmd.io/s/SJbW178u4" target="_blank">HackMD</a></p>
								<p><a href="http://beta.hackfoldr.org/bcsrcsp" target="_blank">Hackfoldr</a></p>
								<p><a href="https://grants.g0v.tw/projects/5c3ab62e0c53ab001b42996f" target="_blank">提案頁面</a></p>
								<p><a href="https://g0v.hackmd.io/zatQZk4XRwaWL3nG98Bowg" target="_blank">期中報告</a></p>
								<p><a href="https://g0v.hackmd.io/HJhU7aByRmyDxkTLky_GeQ" target="_blank">期末報告</a></p>
							</div>
						</div>
						<a data-toggle="tab" href="#about-team" class="mobile-tabs">建置團隊</a>
						<div id="about-team" class="tab-pane fade">
							<h3>建置團隊</h3>
							<h5>陳彥慈／計畫總籌</h5>
							<p>國立雲林科技大學文化資產維護系畢。遊移於文化與藝術的邊界，摸索社會公義與人本價值的尋道人。現任竹圍工作室副總監，持續以協作者與橋接人身分，搭起各類藝術家及環境專業者之間的橋樑，並努力在專案的發想中思考生態、土地與人的關係，構築生態和平的可能。2019年發起《大河小溪全民齊督工》公民科技專案，試圖透過資訊公開以降低民眾監督台灣河溪工程的參與門檻。</p>
							<h5>高任翔／計畫工程師</h5>
							<p>位元創意創辦人，擅長程式設計、電路設計、3D建模、3D列印、攝影等技術，開發LED表演道具多年，2015年踏入藝術圈後開始思考各種不同可能性，曾任竹圍工作室主任，現專注於獨立發展，並在g0v社群參與各種不同的公民科技開源計畫，也持續與身聲劇場、True-Spin舞團等合作開發，期望結合開源與藝術讓世界更進一步。</p>
							<a href="http://bambooculture.com" target="_blank"><h5>竹圍工作室</h5></a>
							<p>一個從創意文化出發、關心社會永續與生態的藝術空間與交流平台。座落於淡水河畔、見證著土地與城市的消長，種下了我們關注環境的潛在基因。從2002年的《城市與河流的交會–竹圍環境藝術節》、到2009年啟動研究的《樹梅坑溪環境藝術行動》、2015年到巴黎氣候峰會參加Art COP21，分享環境藝術的經驗…，一次又一次的藝術進駐、藝術介入社會計畫、社會參與行動，累積成為今日的我們。
							</p>
							<p>從《樹梅坑溪環境藝術行動》的軟性介入，到《大河小溪全民齊督工》公民科技地圖平台，竹圍工作室持續以多元的手法，推動社會的向上質變。台灣擁有亞洲最強而穩定的公民科學力，我們希望能以藝術翻轉思維，結合科技推動更深入的公民參與，讓更多人能看見台灣河溪的豐富與深度，並善用這些開放資訊成為推動流域關懷的重要推手。
							</p>
						</div>
						<a data-toggle="tab" href="#about-meaning" class="mobile-tabs">建設意義</a>
						<div id="about-meaning" class="tab-pane fade">
							<h3>建設意義</h3>
							<p>近年野溪水泥化現象普遍，相關工程標案會被公告在特定網站招標，但其公開資訊有限，未註明確切緣由、施工地點等，更別說要追蹤後續結果。為了讓關心河川的人能有效即時監督，本平台將彙整全台不同主管機關所發包的河川工程相關資訊，使水系與工程地點能進一步視覺化、地圖化，並開放民眾上傳施工圖片，成為通報監督河川施工的好幫手。
</p>
<p>在「大河小溪全民齊督工」地圖平台訂閱自己所關心的水系後，同一水系的相關工程都會在發包時主動發送通報給在地流域團體，讓全台灣各地關心河川、關心流域相關議題的單位都能收到更即時的工程資訊，讓民眾能從標案發包之初就開始追蹤工程的進度，並透過多筆資料的累積，提供未來描繪比對不同工程之間互動關係的資料基礎。
</p>
						</div>
						<a data-toggle="tab" href="#about-data" class="mobile-tabs">可獲得什麼資料</a>
						<div id="about-data" class="tab-pane fade">
							<h3>可獲得什麼資料？</h3>
							<h5>1、開標主動通報：</h5>
							<p>訂閱水系、河川溪流後，即時通知標案發包最新消息</p>
							<h5>2、位置比對：</h5>
							<p>比對歷年河川溪流整治工程點位和各河川水系、上下游之間的關係</p>
							<h5>3、相關河川社群登錄/查詢：</h5>
							<p>新增關注河川溪流的組織單位名錄</p>
							<h5>4、各縣市特定水系及工程點位圖資整合下載：</h5>
							<p>將特定水系的工程點位圖另存成為圖檔下載使用</p>
<hr>
<h5>5、河川圖資API (geojson)：</h5>
<a href="/api/getriver?rivername=淡水河" target="_blank">https://river-watcher.bambooculture.tw/api/getriver?rivername=淡水河</a>
<table>
  <thead>
    <tr>
      <th>網址參數</th>
      <th>參數說明</th>
      <th>預設值</th>
    </tr>
  </thead>
  <tbody>
		<tr>
			<td>rivername</td>
			<td>河川名稱 ex: 「淡水河」、「濁水溪」</td>
			<td>N/A</td>
		</tr>
	</tbody>
</table>
<a href="https://data.gov.tw/dataset/25781" target="_blank">※資料來源：政府開放資料平台</a>
<hr>
<h5>6、標案資料API：</h5>
<a href="/api/getpcc?keyword=&matches=2000-2099&order=DESC&limit=3000&type=geojson&requireGeom=False" target="_blank">https://river-watcher.bambooculture.tw/api/getpcc?keyword=&matches=2000-2099&order=DESC&limit=3000&type=geojson&requireGeom=False</a>
<table>
  <thead>
    <tr>
      <th>網址參數</th>
      <th>參數說明</th>
      <th>預設值</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>keyword</td>
      <td>標案關鍵字 ex: 「淡水河」、「水壩」</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>matches</td>
      <td>時間篩選 ex: 「20190301-20190901」、「2014,2017,2020」</td>
      <td>2000-2099</td>
    </tr>
    <tr>
      <td>order</td>
      <td>資料排序方法 ex: 「DESC」、「ASC」</td>
      <td>DESC</td>
    </tr>
    <tr>
      <td>limit</td>
      <td>資料筆數限制 ex: 「3000」、「999999」</td>
      <td>3000</td>
    </tr>
    <tr>
      <td>type</td>
      <td>回傳資料類型 ex: 「geojson」、「csv」、「xlsx」</td>
      <td>geojson</td>
    </tr>
    <tr>
      <td>requireGeom</td>
      <td>必須有地理資料 ex: 「True」、「False」</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
<a href="https://ronnywang.github.io/pcc-viewer/index.html" target="_blank">※資料來源：ronnywang 標案資料瀏覽 (原始資料：政府電子採購網)</a>
<!--br>
5、一次性圖層上傳與工程點位比對圖資整合下載：<br>
使用者可自行上傳KML檔案，與地圖平台上的工程點位資料進行比對分析，並另存成為圖檔下載使用。所上傳的圖層資料將不會留存至下次登入<br>
<br>
6、河川拍攝圖資上傳／檢索：<br>
使用者可自行上傳具有GPS位址的河川溪流工程圖片，讓地圖平台的其他使用者可以知道這條溪流的現況與照片紀錄<br>
<br>
7、瀏覽河川溪流相關工程審議會、說明會、公聽會消息：<br>
使用者可點選任一河川，並檢視近期公布的工程審議會、說明會、公聽會等相關消息<br>
<br>
8、搜尋並連結各河川溪流相關資料集：<br>
使用者可檢視與任一河川有關且被上傳到「資料寄存所」的河川溪流相關資料集，或在該網站進行註冊自行上傳更多資料。<br-->
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="portal-links row justify-content-center">
				<div class="portal-block col-md-2">
					<h5 class="text-center">外部連結</h5>
				</div>
				<div class="portal-block col-md-8">
					<p class="collapse-toggle collapsed" data-toggle="collapse" href="#collapse-links" role="button" aria-expanded="false" aria-controls="collapse-links">在此提供其他相關單位之快速連結以供查詢。</p>
					<div class="collapse" id="collapse-links" style="margin-bottom: 2em; color: #AAA;">
						<h3>外部連結</h3>
						<p><a target="_blank" href="https://www.wra.gov.tw/">經濟部水利署</a></p>
						<p><a target="_blank" href="https://www.facebook.com/rivernetwork.tw/">台灣河溪網</a></p>
						<p><a target="_blank" href="https://www.facebook.com/groups/urban.rivers.streams/">城鄉河溪論壇</a></p>
						<p><a target="_blank" href="https://www.facebook.com/groups/667899516591545/">生態大腸花論壇</a></p>
						<p><a target="_blank" href="https://gweb.wra.gov.tw/Hydroinfo/">水文資訊網整合服務系統</a></p>
						<p><a target="_blank" href="https://gic.wra.gov.tw/gis/">水利地理資訊服務平台</a></p>
						<p><a target="_blank" href="https://dsdp.epa.gov.tw/">環境大小事</a></p>
						<p><a target="_blank" href="https://ngis.wra.gov.tw/NgisGIS/">國土資訊系統_自然環境資料庫</a></p>
						<p><a target="_blank" href="https://gic.wra.gov.tw/Gis/GicMap">台灣本島圖台</a></p>
						<p><a target="_blank" href="https://gis.swcb.gov.tw/">BIG GIS巨量空間資訊系統</a></p>
						<p><a target="_blank" href="https://ecofrieng.forest.gov.tw/">國有林地治理工程資訊網</a></p>
						<p><a target="_blank" href="https://rdi-123.wrap.gov.tw/integration2017_wrpi_drainage/mapservice.html">區域排水整合型查詢系統</a></p>
						<p><a target="_blank" href="https://rdi-123.wrap.gov.tw/integration2017_wrpi_drainage/opendataStop.html?geto=river">區域排水資料流通站點</a></p>
						<p><a target="_blank" href="http://wralaw.wra.gov.tw/wralawgip/lawCatalogue.jsp?lawClass=1">水利法規查詢系統_區域排水一覽表</a></p>
						<p><a target="_blank" href="https://ire-123.wrap.gov.tw/integration2017_wrpi_river/Planning.html">河川環境資訊平台</a></p>
						<p><a target="_blank" href="http://marketing.geo.com.tw/WLAM/?fbclid=IwAR0t8In7LtrXXyL0JHwCWDl15Lbg_RHmuC9cTlvDdeB5YU8Yf1wCts15kVY">水利署水岸土地認養維護媒合平台</a></p>
						<p><a target="_blank" href="https://e-river.wra.gov.tw/">水利知識流</a></p>
						<p><a target="_blank" href="https://e-river.wra.gov.tw/default.aspx">e河川知識服務網</a></p>
						<p><a target="_blank" href="http://trrn.wra.gov.tw/Default.aspx">TRRN台灣河川復育網</a></p>
						<p><a target="_blank" href="https://photo.swcb.gov.tw/?redirect=yes">行政院農業委員會水土保持局＿歷史影像平台</a></p>
						<p><a target="_blank" href="https://beta.hackfoldr.org/bcsrcsp/">河川相關網站共筆資料夾</a></p>

					</div>
				</div>
			</div>
			<div class="portal-reply row justify-content-center">
				<div class="portal-block col-md-2">
					<h5 class="text-center">意見回饋</h5>
				</div>
				<div class="portal-block col-md-8">
					<p class="collapse-toggle collapsed" data-toggle="collapse" href="#collapse-reply" role="button" aria-expanded="false" aria-controls="collapse-reply">若您對本平台有任何的意見或建議，歡迎您與我們聯繫。</p>
					<div class="collapse" id="collapse-reply">
					<h3>意見回饋</h3>
						<p>本網站是由g0v零時政府公民科技創新獎助金贊助建置的開源專案，並由所有關注河川議題的社會大眾共同參與彙整而成。
</p>
<p>為了讓平台更符合公民參與和全民督工的設計初衷，歡迎各位針對《大河小溪全民齊督工》地圖平台的使用體驗給予我們意見與回饋，協助我們做得更好。<br>
</p>
<p style="text-align: left">意見回饋信箱：<a target="_blank" href="mailto:riverwatcher@bambooculture.com">riverwatcher@bambooculture.com</a>
</p>
					</div>
				</div>
			</div>
				<div class="container-fluid m-0" style="padding: 5% 10%; margin: 0; font-size: 0.9em;">
				<h4>免責聲明</h4>
				<p  class="m-0 p-0">
					一、「大河小溪全民齊督工」為一非商業性網站，網站資料來源均為政府公開資料，雖已採取合理措施確保本網站資料之準確性和完整性，但受限於人力與資源，仍有缺漏之可能，明確聲明本網站不對所提供訊息之準確性和完整性提供任何擔保，對於任何使用或引用本網站網頁資料引致之損失或損害，概不負責。本網站亦有權隨時刪除、暫停或編輯本網站所登載之各項資料，以維護本網站之權益。<br>
					<br>
					二、使用本網站之資料與素材，應註明出處，並不得惡意變更其相關資訊，若利用後所展示之資訊與原資料與素材不符，使用者須自負民事、刑事上之法律責任。<br>
					<br>
					三、本網站內容若有錯誤，歡迎來信指正。關於本平台的內容和資料，有任何問題、建議或想法，請與我們聯繫。<br>
				</p>
			</div>
		</div>
		<!-- ----------------------------------------- -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.1/velocity.min.js"></script>
		<script>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			$("#search-submit").click(function(){
				var riverid = $("#subs-search").val();
				var retVal = confirm("確認訂閱"+riverid+"?");
				if( retVal == false ) {
					return;
				}
				$.getJSON($SCRIPT_ROOT + '/api/adjsub', {
					riverid: riverid,
					type: "add"
				}, function(cb) {
					if(cb.result=="ok"){
						$("#sub-group").append('<p class="sub-sets">'+riverid+'<button name="'+riverid+'">✖</button></p>');
					}
					else
						console.log("ERROR!!");
				});
			});
			$("body").on('click', '.sub-sets button', function() {
				var this_sel=$(this);
				var retVal = confirm("確認取消訂閱"+this_sel.attr("name")+"?");
				if( retVal == false ) {
					return;
				}
				$.getJSON($SCRIPT_ROOT + '/api/adjsub', {
					riverid: this_sel.attr("name"),
					type: "remove"
				}, function(cb) {
					if(cb.result=="ok"){
					this_sel.parent("p").remove();
					}
					else
						console.log("ERROR!!");
				});
			});

			$(function() {
			  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			    history.pushState({}, '', e.target.hash);
			  });

			  var hash = document.location.hash;
			  var prefix = "tab_";
			  if (hash) {
			    $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').tab('show');
			  }

				if($("body").width()>768){
					if($(this).scrollTop()>100){
						isImgSmall = true;
						$('.go-to-map').css("width","1em");
					}
					else if($(this).scrollTop()<100){
						isImgSmall = false;
						$('.go-to-map').css("width","14em");
					}
				}
			});

			$(window).scroll(function(){
				if($("body").width()>768){
					if($(this).scrollTop()>100){
						isImgSmall = true;
						$('.go-to-map').css("width","1em");
					}
					else if($(this).scrollTop()<100){
						isImgSmall = false;
						$('.go-to-map').css("width","14em");
					}
				}
			});

		</script>
	</body>
 </html>
