{% extends "base.html" %}
{% block title %}重設密碼{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center align-items-center container-fluid login-page">
	<a href="{{url_for('index')}}"><img class="main-img" style="height: 10vh;" src="{{url_for('static', filename='img/logo_w.png')}}"/></a>
	<div class="login-box d-flex justify-content-center login-box-user col-md-4">
		<div class="text-center" style="width: 80%;">	
			<h4 class="text-center" style="margin-bottom: 0;">重設密碼</h4>
			<p style="color: #AAA; font-size: 0.8em; width: 100%; margin-bottom: 5vh;" class="text-center">請輸入兩次相同密碼</p>
			<form action='{{url_for("reset_pw", token = token)}}' method='POST' class="login-form">
				<label class="label-idpw form-inline">密碼　<input type='password' name='password' minlength='6' placeholder='‧‧‧‧‧‧‧‧‧‧'/></label>
				<label class="label-idpw form-inline">確認密碼　<input type='password' name='password2' placeholder='‧‧‧‧‧‧‧‧‧‧'/></label>
				<input class="btn-style1" type='submit' value="確認修改"/>
				</form>
			</div>
	</div>
</div>
{% endblock %}