<!doctype html>
<html lang="zh-hant">
	<head>
		<meta charset="UTF-8" />
		<title>{{GLOBAL_TITLE}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<link href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{{url_for('static', filename='css/portal.css')}}">
	</head>
	<body class="scroll-style" style="background-attachment: fixed;">
		<div class="container-fluid" style="background-color: rgba(15,25,35,0.8); min-height: 200vh;">			
			<img class="main-img" src="{{url_for('static', filename='img/logo_w.png')}}"/>
			<div class="row ext-box" id="ext-mattermost">
				<div class="col-md-6 order-md-12">
					<a href="#" style="font-size: 1em;" data-toggle="modal" data-target="#modal-mattermost"><img class="ext-img" src="{{url_for('static', filename='img/mattermost.png')}}"/></a>
					<div id="modal-mattermost" class="modal fade" role="dialog">
						<div class="modal-dialog modal-lg">
							<img class="ext-img" src="{{url_for('static', filename='img/mattermost.png')}}"/>
						</div>
					</div>
				</div>
				<div class="col-md-6 order-md-1">
					<div class="ext-box-title"><a>討論群組</a></div>
					<p>這是一個附屬於《大河小溪全民齊督工》地圖平台的河川議題討論區，可以自由新增群組，隨意提出議題進行交流分享。我們會定期把電子採購網上跟河川有關的標案工程公告在「標案通知」的頻道上，讓大家知道近期有哪些工程即將展開！</p>
					<a style="float: right; font-size: 1em; color: #D8D8D8; text-align: center;" href="https://mattermost.river-watcher.bambooculture.tw" target="_blank">前往　─────<img class="go-to-map" src="{{url_for('static', filename='img/right_arrow.svg')}}"/></a>
				</div>
			</div>
			<div class="row ext-box" id="ext-depositar">
				<div class="col-md-6">
					<a href="#" style="font-size: 1em;" data-toggle="modal" data-target="#modal-depositar"><img class="ext-img" src="{{url_for('static', filename='img/depositar.jpg')}}"/></a>
					<div id="modal-depositar" class="modal fade" role="dialog">
						<div class="modal-dialog modal-lg">
							<img class="ext-img" src="{{url_for('static', filename='img/depositar.jpg')}}"/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="ext-box-title"><a>資料寄存</a></div>
					<p>研究資料寄存所就是為了協同研究而建立的！在取得個人帳號之後，研究者就可建立專案，彼此分享資料集。<br>
							上傳至此的資料集，只要有在關鍵字一欄標註相關河川，即會出現在地圖上相關河川的最新消息中。
					</p>
					<a style="float: right; font-size: 1em; color: #D8D8D8; text-align: center;" href="https://data.depositar.io/" target="_blank">前往　─────<img class="go-to-map" src="{{url_for('static', filename='img/right_arrow.svg')}}"/></a>
				</div>
			</div>
			<p class="text-center" style="margin: 2em; font-size: 2em;"><a onclick="history.back()" href="#" style="">回上一頁</a></p>
		</div>
		<!-- ----------------------------------------- -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>			
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.1/velocity.min.js"></script>
		<script>
		</script>
	</body>
 </html>
